.tours-container {
  margin: 0 auto;
  padding: 0 1rem;
  text-align: justify;
}

.tours-container h2 {
  text-align: left;
  margin: 1.5rem 0;
  font-weight: 500;
}

.tours-container h3 {
  text-align: left;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.tours-container p {
  margin-bottom: 1rem;
}

.tours-container a {
  text-decoration: none;
  color: var(--text-4);
}

.tours-container .btn {
  color: var(--text-3);
}

.tours-container img {
  margin-bottom: 1rem;
}
