.info-contact-title {
  text-align: center;
}

.info-contact-intro div {
  display: flex;
  margin: auto;
}

.info-contact-intro .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  width: 40%;
  text-align: center;
}

.info-contact-intro .left div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.info-contact-intro img {
  padding: 0 1rem;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.info-contact-intro .btn {
  display: block;
  margin: 1rem auto 0;
}

@media screen and (max-width: 768px) {
  .info-contact-intro div {
    flex-direction: column;
  }

  .info-contact-intro div * {
    width: 100%;
    max-width: none;
  }

  .info-contact-intro .left {
    width: 100%;
  }
}

.info-contact-prestations {
  display: flex;
  justify-content: center;
}

.info-contact-price {
  display: flex;
}

.info-contact-price img {
  padding: 0 1rem;
  width: 60%;
  height: auto;
  object-fit: contain;
}

.info-contact-price div {
  width: 40%;
  padding: 1rem;
  text-align: center;
}

.info-contact-price p {
  margin-bottom: 1rem;
  text-align: justify;
}

#text-commission {
  text-align: center;
}

.commission {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--color-3);
}

.info-contact-price u {
  font-size: 1.25rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .info-contact-price {
    flex-direction: column;
  }

  .info-contact-price img {
    width: 100%;
    margin: 0 auto;
  }

  .info-contact-price div {
    width: 100%;
    margin: 0 auto;
  }
}

.info-contact-location-range {
  text-align: center;
  margin: 0 auto 6rem;
}

.contact-form-section h2 {
  margin: 0 auto 2rem;
}

.contact-form-bottom {
  margin: 0 auto;
  display: flex;
  justify-content: start;
}

.contact-form-bottom h3 {
  text-align: left;
}

.contact-form-bottom p {
  margin-bottom: 1.5rem;
}

.contact-form-infos {
  flex: 0 0 auto;
  padding: 0 1rem;
}

.contact-form-container {
  flex: 1;
  padding: 0 1rem;
}

@media screen and (max-width: 768px) {
  .contact-form-bottom {
    flex-direction: column;
  }
}
