.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
  grid-template-areas:
    "name email"
    "phone country"
    "message message"
    "message message"
    "rgpd rgpd"
    "submit .";
}

#name {
  grid-area: name;
}

#mail {
  grid-area: email;
}

#phone {
  grid-area: phone;
}

#country {
  grid-area: country;
}

#message {
  grid-area: message;
}

#rgpd {
  grid-area: rgpd;
}

#submit -label {
  grid-area: submit;
}
