header {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: center;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  background-color: var(--main-1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header * {
  max-height: 5rem;
}

.logo-header {
  height: 2.5rem;
  margin-right: 1rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style: none;
  margin-left: auto;
}

.nav-list-item > * {
  color: var(--text-1);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-list-item:hover * {
  color: var(--text-4);
}
